/* Google font Lato */
html {
    font-family: 'Lato', sans-serif;
}
/* Clipboard button */
.big {
    width: 80%;
}

p {
    word-wrap: break-word;
}
/* Big password font! */
#passwordOutput {
    font-size: x-large;
}